* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 0.7fr 4fr;
    grid-template-rows: 0.7fr 4fr;
}

/* sidebar navigation */
.sidebar {
    background-color: green;
    display: grid;
    grid-column: 1;
    grid-row: 1 / 3;
}

/* header */
.header {
    background-color: blue;
}

/* main-content */
.project_content {
    background-color: red;
}